<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>MiniSearchEngine</title>
    <meta name="http-equiv" content="text/html; charset=utf-8" />
  </head>
  <body>
    <form method="post" action="/" enctype="application/x-www-form-urlencoded" accept-charset="utf-8">
      <input type="text" name="q" />
      <input type="submit"  value="minisearchengine search" />
    </form>
  </body>
</html>
